<!DOCTYPE html>
<html>
<head>
  <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
</script>

    {% block content %}
    <title></title>
</head>
<body>
<h1>Tentative!  Find campsites in National Parks!<h1>
<h2>Please select a national park below:<h2>
    <!-- <form id="select-np" form action="/api/np_selected"> -->
      <form id="select-np" form action="/api/np_selected">
    <label>
        Enter a check-in date:
    <!-- <input type="date" id="Start Date" name="start-date"> -->
    <input type="date" id="start-date" name="start-date">
    </label><br>

    <label>
        Enter a check-out date:
    <!-- <input type="date" id="End Date" name="end-date"> -->
    <input type="date" id="end-date" name="end-date">
    </label><br><br><br>


       <fieldset>
          <legend>Select a National Park</legend>
          <p>
             <label>National Park List</label>
            <select id = "npList" name="rec_area">
            {% for rec_area in rec_areas %}
            <option id ="rec_area" name="rec_area">{{ rec_area.rec_name }}</option>
            {% endfor %}
            </select>
            <input type="submit">
          </p>
       </fieldset>
    </form>



<ul id="replacement"> Results List </ul>
</body>

<script>
$('#select-np').on('submit', (evt) => {
  evt.preventDefault();
  console.log("Prevented default")

  const selectedStart = $('#start-date').val();
  console.log("selectedStart is" + selectedStart);
  const selectedEnd = $('#end-date').val();
  console.log("selectedEnd is" + selectedEnd);
  const selectedNp = $('#npList').val();
  console.log("selectedNP is" + selectedNp);


  $.ajax({
    url: `/api/np_selected`,
    type: "get",
    dataType: "json",
    data: {
      "start-date": selectedStart,
      "end-date": selectedEnd,
      "rec_area": selectedNp
    },
    success: function(result) {
      Object.keys(result).forEach(function (item) {
      console.log(result[item]);

      if (result[item]['availibility_data']!= null) {
       // value

      let campList = $('<li><h2>'+ item + '</h2><br>' + JSON.stringify(result[item]['availibility_data']) +'</li>')
      $('#replacement').append(campList);
      }});
    }
    });
});

</script>
{% endblock %}

</html>
