<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tentative- find campsites in National Parks</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" 
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
  <link href="../static/style.css" rel="stylesheet">
</head>
<body>

    {% block content %}

<!-- Navigation -->
<nav class= "navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../static/img/Artboard 1@0.5x.png" height="65px" alt = "Tentative logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      
<!--  National park form inside of nav bar -->
<div class="container">
  <div class="row">
    <div class="form-group">
      <form id="select-np" form action="/np_selected">
          <label for="exampleFormControlSelect1">Select a National Park to Begin</label>
              <select id = "npList" name="rec_area">
              {% for rec_area in rec_areas %}
              <option id ="rec_area" name="rec_area">{{ rec_area.rec_name }}</option>
              {% endfor %}
              </select>
            <button class="btn btn-primary" type="submit">Select National Park</button>
      </form>
    </div>
  </div>
</div>
<!-- Closing the nav bar -->
</ul>
</div>
</div>
</nav>

<!-- Creating a photo scroller -->
<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-12">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for image in random_images %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" class="active"></li>
    </li>
    {% endfor %}
  </ol>

    <div class="carousel-inner">
        {% for image in random_images %}
        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" id="slide{{ loop.index }}">
            <img src="{{ image['url'] }}" width=100% height=40%>
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ image['caption'] }}</h5>
            </div>
            </div>
            {% endfor %}
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{% endblock %}


</body>
</html>  