<!DOCTYPE html>
<html>
<head>
  <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
</script>

    {% block content %}
    <title></title>

<style>
    #map
    {
    height:400px;
    width:100%;
    }
</style>


</head>
<body>
<h1>Tentative!  Find campsites in National Parks!<h1>
<h2>Please select a national park below:<h2>
    <!-- <form id="select-np" form action="/api/np_selected"> -->
      <form id="select-np" form action="/api/np_selected">
    <label>
        Enter a check-in date:
    <!-- <input type="date" id="Start Date" name="start-date"> -->
    <input type="date" id="start-date" name="start-date">
    </label><br>

    <label>
        Enter a check-out date:
    <!-- <input type="date" id="End Date" name="end-date"> -->
    <input type="date" id="end-date" name="end-date">
    </label><br><br><br>


       <fieldset>
          <legend>Select a National Park</legend>
          <p>
             <label>National Park List</label>
            <select id = "npList" name="rec_area">
            {% for rec_area in rec_areas %}
            <option id ="rec_area" name="rec_area">{{ rec_area.rec_name }}</option>
            {% endfor %}
            </select>
            <input type="submit">
          </p>
       </fieldset>
    </form>

<h1> NP Map </h1>
<div id="map"></div>

<ul id="replacement"> Campground List </ul>




<script src="/static/ajax.js"> </script>
<script src="/static/googlemap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGZpwieWbX6h5gSpxmyfMZ-HYZD_v8E6U&callback=initMap">
</script>

{% endblock %}



</body>




</html>
