<!DOCTYPE html>
<html>
<head>

    <title></title>
</head>
<script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
</script>

<body>
    {% block content %}
    You have selected: {{rec_area.rec_name}}<br>
    Here are the campgrounds in this National Park:
    
    <ul>
    {% for campground in selected_campsites %}
    {{ campground.campsite_name }}<br><br>
    {% endfor %}
    {% endblock %}
    </ul>

    <ul>
        <div id="avail_container">
            Testing Changing text
        </div>

</body>
</html>

