<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tentative- find campsites in National Parks</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" 
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link href="../static/style.css" rel="stylesheet">
  <style>
    #map
    {
    height:400px;
    width:100%;
    }

  </style>

{% block content %}
</head>


<body>
<!-- Navigation -->
<nav class= "navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../static/img/Artboard 1@0.5x.png" height="65px" alt = "Tentative logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      
<!--  National park form inside of nav bar -->
<li class="nav-items">
  <div class="nav-link" class="form-group">
    <form id="np-info" form action="/api/np">
      <label for="exampleFormControlSelect1">Select a National Park</label>
        <select id = "npList" name="rec_area">
          {% for rec_area in rec_areas %}
          <option id ="rec_area" name="rec_area">{{ rec_area.rec_name }}</option>
          {% endfor %}
        </select>
    </form>
  </li>
<div class="nav-items">
  <div class="nav-link">
    <form id="select-np" form action="/api/np_selected">
      <label> Enter a check-in date:
      <input type="date" id="start-date" name="start-date">
    </label>
  </div>
</div>
<div class="nav-items">
  <div class="nav-link">
    <label>
        Enter a check-out date:
              <input type="date" id="end-date" name="end-date">
            </label>
          <button class="btn btn-primary" type="submit">See Availability</button>
          </p>
       </fieldset>
    </form>
    </div>
  </div>
</div>
</ul>
</div>
</div>
</nav>

<!-- Site Body -->
<div class="container-fluid">
  <div class="row">
  <div class="col">
<!--       Left side of page- NPS Card -->
    <div class="card">
  <!-- Photos -->
      <div class="container-fluid no-padding">
        <div class="row">
          <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title" id="nps-name">{{ np_info['fullName'] }}</h5>
                  <p class="card-text"id="nps-description"> {{ np_info['description'] }} </p>
                   <p class="card-text" id= "nps-directions"> Driving Directions: {{ np_info['directionsInfo'] }} </p>
              </div>
            </div>
          </div>
        </div>
    </div>
<div class="card">
  <!-- Photos -->
      <div class="container-fluid no-padding">
        <div class="row">
          <div class="col-md-12">
              <div class="card-body">
      <div id="images" class="images">
      {% for image in np_info['images'] %}
      <img class="image"
      src="{{ image['url'] }}"
      alt="{{ image['altText'] }}" height="100px">
      {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
</div>

  </div>
    <div class="col-6">
      <h5 id="mapdiv"> NP Map </h5>
      <div id="map"></div>
      <div id="legend"><h3></h3></div>
    </div>

        <div class="col-2">
            <h5><strong>Campground List</strong></h5>
          <ul id="replacement"> Select a National Park and Dates for Availablity Info </ul>
        </div>
  </div>
</div>

<script src="/static/ajax.js"> </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGZpwieWbX6h5gSpxmyfMZ-HYZD_v8E6U&callback=initMap">
</script>
    {% endblock %}
</body>


</html>  